<h1>Books</h1>

<%#TODO Ajax%>
<div id = "books">
    <%= render "books" %>
</div>

<%= will_paginate @books %> 

<br />

<% if signed_in? %>
 <%= render 'search' %><br />
 <%= link_to 'Add a book', new_book_path %>
<% else %>
 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
